*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
/*FLEXBOX CLASSES*/
/* Display Flex */
.d-flex {
    display: flex;
}

.d-inline-flex {
    display: inline-flex;
}

/* Flex Direction */
.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Justify Content (horizontaal)*/
.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

/* Align Items (verticaal) */
.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

/* Align Content */
.align-content-start {
    align-content: flex-start;
}

.align-content-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-between {
    align-content: space-between;
}

.align-content-around {
    align-content: space-around;
}

.align-content-stretch {
    align-content: stretch;
}

/* Align Self */
.align-self-auto {
    align-self: auto;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}

/* Order */
.order-first {
    order: -1;
}

.order-last {
    order: 13;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.order-11 {
    order: 11;
}

.order-12 {
    order: 12;
}

/* Grow and Shrink */
.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

/*EIGEN CSS*/

.brand {
    style:"height:70px;"
}
.brandtext {
    width:200px;
    padding-left:16px;
    font-weight:700;
}

.projectbox{
    border-radius:10px;
    background-color: #1b1e25;
    padding:12px;
    margin:0 0 50px 0px;
    border-color:#8C96A7;
    border-width:1px;
    border-style:solid;
}

/*stylings p, h1 - h3*/

p {
    color: #8C96A7;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}
h1 {
    color: #E9EDF4;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:52.35px;
    padding: 30px 0 0 0;
}

h2 {
    color: #E9EDF4;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size:32.35px;
    padding: 10px 0 10px 0;
}

h3 {
    color: #E9EDF4;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:17.35px;
    padding: 10px 0 10px 0;
}

.menu{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:15.35px;
    color:#E9EDF4;
    text-decoration:none;
}

.menu:hover{
    color:#7AA2FF;
}

.greentitle {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size:15.35px;
    color:#4EF0C2;
    padding: 50px 0 10px 0;

}

.tag{
    /*inter-w1 fs-2 cgrey inter-w3 fs-7 p-10*/
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size:12.35px;
    color:#8C96A7;
    padding: 8px 8px 8px 8px;
    border-color:#8C96A7;
    border-style:solid;
    border-width:1px;
    border-radius:20px;
    margin: 10px;
}

.footertext{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:14.35px;
    padding: 20px 0 20px 0;
}

.tag:hover{
    color:#E9EDF4;
    border-color:#E9EDF4;
}

.formfield{
    background-color:#14161B;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    font-size: 14px;
    color: #647566;
}
.labels{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size:14.35px;
    padding: 20px;
    color: #E9EDF4;

}
.lijnbol{
    padding: 0 10px 0 0;
}


/*fonts*/
.inter-w1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.inter-w2 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.inter-w3 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.inter-w4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.fs-1{
    font-size:14.35px;
}

.fs-2{
    font-size:15.35px;
}
.fs-3{
    font-size:17.35px;
}


/*width*/
.w100{
    width:100%
}

.w50{
    width:50%;
}

.w30{
    width:30%;
}

.w60{
    width:60%;
}
.w25{
    width:25%;
}

.gap20{
    gap:20px
}
/*text*/

.text-decoration-none {
    text-decoration: none;
}

/*margins*/

.p-tb15{
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.5;
}

.p-10{
    padding: 10px 10px 10px 10px;
}

.p-10t15b{
    padding: 10px 0 15px 0;
}

.p-30t50b{
    padding: 30px 0 50px 0;
}
.p-30t{
    padding: 30px 0 0 0;
}
.p-10t{
    padding: 10px 0 0 0;
}
.p-10l{
    padding: 0 10px 0 20px;
}

.menupaddings{
    padding-right:16px;
    gap:18px;
}

.roundimage{
    border-radius: 10px;
}

.gradient-text{
    background: linear-gradient(90deg, #7AA2FF 0%, #6cf0c2 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.line{
    border-bottom: 1px solid rgb(140,150,167,0.2);
}


/*heros*/



/*colors*/
.bgblack{
    background: #0F1116;
}
.cblue{
    color:#7AA2FF;
}
.cgrey{
    color:#8C96A7;
}

.cwhite{
    color:#E9EDF4;
}


/*margin en paddings*/
.mx-auto{
    margin:0 auto;
}
/*pagina*/
body{
    width:1920px;
    margin:0 auto;
}


.contentwidth{
    width:1150px;
    margin:0 auto;
}

.contentwidth2{
    width:1200px;
    margin:0 auto;
}

.fullwidth{
    width:1920px;
    margin:0 auto;
}
/*buttons*/
.btn1{
    font-size:17.35px;
    font-weight:700;
    color:#0F1116;
    background:#7AA2FF;
    padding:10px;
    border-color:#0F1116;
    border-radius:10px;
}
.btn1:hover{
    color:#E9EDF4;
    background:#8C96A7;
}
.btn2{
    font-size:17.35px;
    font-weight:700;
    color:#0F1116;
    background:#7AA2FF;
    padding:10px;
    border-color:#0F1116;
    border-radius:10px;
}
.btn2:hover{
    color:#E9EDF4;
    background:#0F1116;
}

.btn3{
    font-size:17.35px;
    font-weight:700;
    color:#E9EDF4;
    background:#0F1116;
    padding:10px;
    border-color:#0F1116;
    border-radius:10px;
}
.btn3:hover{
    color:#E9EDF4;
    background:#8C96A7;
}
.btn4{
    border-style: dotted;
    color: #4EF0C2;
    background: #0F1116;
    border-color: #4EF0C2;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}
.submit{
    display: flex;
    justify-content: flex-end;
}

/*header*/
header{
    padding-top:19.5px;
    padding-bottom:19.5px;
}
